zuul:
  sensitiveHeaders:
    ignored-headers: Access-Control-Allow-Credentials, Access-Control-Allow-Origin,Strict-Origin-When-Cross-Origin
  routes:
    authenticateV1:
      url: http://localhost:8087/api/v1.0/market/user
    CompanyV1:
      url: http://localhost:8082/api/v1.0/market/company
    StockV1:
      url: http://localhost:8083/api/v1.0/market/stock



spring:
  application:
    name: zuulgatewayV1
server:
  port: 8081
